.grad-color-3 {
  background: linear-gradient(70deg, var(--purple, #F40F92) 0%, var(--purple, #cf0b7a) 80%, var(--deep-purpble, #150136) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 76px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.benefits {
  margin-top: 54px;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  width: 100%;
}

/* make the even only has that propery */
.benefits-item:nth-child(even) {
  margin-left: 24px;
}

.benefits-item {
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
}

.benefits-item-l {
  width: 640px;
}

.benefits-item-s {
  width: 520px;
}

.benefits-item {
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  height: 100px;
  background: var(--card, #F3EAFC);
}

.benefits-item-header {
  color: var(--deep-purple, #150136);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 30px;
}

.benefits-item-icon {
  margin-left: 30px;
}

.benefits-item-arrow-icon {
  position: absolute;
  right: 20px;
}

.benefits-item-xs {
  width: 100px;
  height: 100px;
  justify-content: center;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-left: 20px;
}

.benefits-item-xs>.benefits-item-icon {
  margin: auto;
}

.benefits-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  filter: invert(1);
  cursor: pointer;
  
}

@media (max-width: 1184px) {
  .benefits{
    justify-content: center;
  }
  .grad-color-3{
    font-size: 42px;
  }
  h1 {
    text-align: center;
  }
}

@media (max-width: 670px) {
  .benefits-item-header {
    font-size: 19px;
  }
  .benefits-item-icon {
    margin-left: 5px;
  }
  .benefits-item-arrow-icon {
    right: 5px;
  }
  .benefits-item-header {
    font-size: 20px;
    margin-left: 10px;
  }  
  .benefits-item,
  .benefits-item-l,
  .benefits-item-s,
  .benefits-item-xs {
    width: 90vw;
    margin-left: 0;
  }
  .benefits-item:nth-child(2n) {
    margin-left: 0;
  }
}