
@media (prefers-color-scheme: dark) {
  .banner-content {
    color: transparent;
  }

}


.banner {
  width: 1184px;
  margin-top: 1.9rem;
  height: 710px;
  border-radius: 25px;
  border: 1px solid #000;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: url('/age/landing.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-content {
  width: 837px;
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 76px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  background: radial-gradient(ellipse at center, #B372FF 0%, #FFE0FD 50%, #BD87FF 75%, #BD87FF 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent !important;
}

.banner-paragraph {
  color: var(--white, #FFF);
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 180%;
  /* 32.4px */
}

.banner-body {
  width: 605px;
}

.contact-us-btn {
  color: var(--white, #FFF);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;

}

.banner-footer {
  display: flex;
  margin-top: 3rem;
  justify-content: space-between;
  width: inherit;
  flex-shrink: 0;
  width: 530px;
  align-items: baseline;
}

.banner-footer-btn {
  flex-shrink: 0;
  border-radius: 28px;
  border: 1.5px solid var(--white, #FFF);
  color: var(--white, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

}

.banner-footer-text {
  color: var(--white, #FFF);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  display: flex;
  line-height: normal;
  text-transform: capitalize;

}

.banner-footer-icon {
  width: 24px;
  height: 37px;
  flex-shrink: 0;
}
