.heading-content {
  color: var(--deep-purple, #150136);
  font-size: 76px;
  font-style: bold;
  font-weight: 800;
  line-height: normal;
}


.headway {
  margin-top: 50px;
  display: flex;
}



.headway-item {
  width: 568px;
  transition: all 0.3s ease-in-out;
  height: 480px;
  border-radius: 20px;
}

.headway-item:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  filter:  sepia(1);
  cursor: pointer;
  
}

.headway-item:not(:last-child) {
  margin-right: 48px;
}

.headway-item-1 {
  background: url('/age/headway-1.png');
  background-size: cover;
}


.headway-item-2 {
  background: url('/age/headway-2.png');
  background-size: cover;
}

.headway-item-sub-header {
  color: var(--white, #FFF);
  font-size: 14px;
  font-style: normal;
  margin-top: 99px;
  font-weight: 400;
  ;
  line-height: normal;
  letter-spacing: 2.1px;

}

.headway-item-header {
  color: var(--white, #FFF);
  font-size: 42px;
  font-style: normal;
  ;
  font-weight: 700;
  line-height: normal;
  margin-right: 336px;
  margin-top: 15px;
}

.headway-item-footer {
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  color: var(--white, #FFF);
  display: flex;
  margin-top: 65px;
}

.headway-item-footer-icon {
  margin-left: 8px;
}

.headway-item-sub-header,
.headway-item-header,
.headway-item-footer{
  margin-left: 48px;
}

@media (max-width: 1184px) {
  .headway {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    justify-content: center;
  }
  .heading-content{
    font-size: 42px;
    text-align: center;
  }
}


@media (max-width: 670px) {
 
  .headway-item{
    width: 90vw;
    border-radius: 20px;
  }
  .headway-item:not(:last-child) {
    margin-right: 0;
  }
}