@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Wix Madefor Display');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #F40F92 #000;
  scrollbar-width: thin;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: #F40F92 #000;
  scrollbar-width: thin;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #FFF;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 247, 240, 255;
  --background-end-rgb: 247, 240, 255;
  --pink: #F40F92;
  --deep-purple: #150136;
  --white: #FFF;
  --screen-width: 100vw;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --deep-purple: #540acc;
  }

  * {
    scrollbar-color: #FFF #000;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000;
  }

  ::-webkit-scrollbar-thumb {
    background: #FFF;
  }

} */

body {
  margin: 0 auto;
  /* Set the default width to take up all available space */
  width: 100%;
  /* Center the body horizontally within the available space */
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Apply styles for screens wider than 1184px */
@media (min-width: 1184px) {
  body {
    /* Set the maximum width to 1184px */
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
  }
}

.bg-pink {
  border-radius: 24px;
  color: white;
  background: var(--pink, #F40F92);
}


