.navbar-container {
  top: 0;
  position: sticky;
  background: rgba(247, 240, 255, 0.60);
  backdrop-filter: blur(15px);
  width:100vw;
  z-index:100;
}
.navbar-content {
  height: 80px;
  width: 1184px;
  margin: 0 auto;
}
.navbar > li:not(:first-child) {
  margin-top: 0 !important;
}

.navbar > li {
  color: var(--purple, #33126A);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.navbar > li:not(:last-child) {
  margin-right: 40px; 
}

@media (prefers-color-scheme: dark) {
  .navbar-container {
    background: rgba(0, 0, 0, 0.60);
    color: var(--white, #fff);            
  }
  .navbar > li {
  color: #F40F92;
  }
}