.heading {
  color: var(--deep-purple, #150136);
  font-size: 76px;
  font-style: normal;
  margin-top: 150px;
  text-align-last: left;
  justify-content: start;
  font-weight: 800;
  width: 100%;
  line-height: normal;
}

.grad-color {
  background: radial-gradient(ellipse at center, #ff72f8 0%, #f058e6 50%, #BD87FF 75%, #623d91 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.plans {
  margin-top: 54px;
  display: flex;
}

.plans-item {
  width: 570px;
  height: 772px;
  flex-shrink: 0;
  border-radius: 20px;
  background: linear-gradient(180deg, #F2EAFC 0%, #EFE5FA 100%);
  transition: all 0.3s ease-in-out;
}
.plans-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.plans-item:not(:last-child) {
  margin-right: 44px;
}

.plan-item-type-text {
  margin-top: 100px;
  /* white-space: -moz-pre-space; */
  white-space: -moz-pre-space;
  color: var(--pink, #F40F92);
  font-size: 14px;
  font-style: normal;
  
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.1px;
}

.plan-item-header {
  margin-top: 15px;
  color: var(--deep-purple, #150136);
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  
}

.grad-color-2 {
  background: radial-gradient(ellipse at center, #990091 0%, #cf0fc2 50%, #41038d 75%, #623d91 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 46px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.plan-item-para {
  margin-top: 15px;
  
  margin-right: 50px;
  color: var(--deep-purple, #150136);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  /* 27.2px */
}

.plan-item-content-item-header {
  
  text-transform: uppercase;
  color: var(--deep-purple, #150136);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 10px;
  line-height: 167%;
  /* 26.72px */
  letter-spacing: 0.8px;
  margin-top: 50px;
}

.plan-item-content-item:nth-child(2)>.plan-item-content-item-header {
  margin-top: 20px;
}

.plan-item-content-item-point {
  color: var(--deep-purple, #150136);
  font-size: 16px;
  
  font-style: normal;
  white-space: -moz-pre-space;
  font-weight: 400;
  line-height: 0%;
  display: flex;
  align-items: center;
}

.plan-item-content-item-point-text {
  color: var(--deep-purple, #150136);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 0%;
  /* 0px */
  margin-left: 11px;

}

.plan-item-content-item-point:not(:first-child) {
  margin-top: 7px;
}


.plan-item-content-item-header:not(:first-child) {
  margin-top: 20px;
}

.plan-item-footer {
  display: flex;
  align-items: center;
  margin-top: 56px;
  
}

.plan-item-footer-text {
  display: flex;
  align-items: center;
}

.plan-item-footer-text-content {
  margin-left: 30px;
  color: var(--deep-purple, #150136);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
  margin-right: 8px;
}

.plan-item-footer-btn {
  color: var(--card, #F3EAFC);
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  border-radius: 28px;
  line-height: normal;
  text-transform: capitalize;

}



.plan-item-type-text,
.plan-item-para,
.plan-item-content-item-point,
.plan-item-content-item-header,
.plan-item-header,
.plan-item-footer {
  margin-left: 48px;
}

@media (max-width: 1184px) {

  .plans {
    margin-top: 10px;
    display: inline-grid;
    grid-gap: 20px;
  }

  .heading {
    text-align-last: center;
    justify-content: center;
    font-size: 3rem;
  }
}

@media (max-width: 670px) {
  .heading {
    justify-content: center;
    font-size: 2.5rem;
  }

  .plans {
    padding: 5px;
  }

  .plans-item {
    width: 100%;
  }

  .plan-item-type-text {
    margin-top: 50px;
    font-size: 12px;
    margin-left: 30px;
  }

  .plan-item-header {
    font-size: 3rem;
    margin-left: 30px;
  }

  .plan-item-para,
  .plan-item-content-item-point,
  .plan-item-content-item-header,
  .plan-item-header,
  .plan-item-footer {
    margin-left: 30px;
  }
}